<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.TestTaxi"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="17"/>

    <!-- 短信权限 -->
    <uses-permission android:name="android.provider.Telephony.SMS_DELIVER"/>
    <uses-permission android:name="android.provider.Telephony.WAP_PUSH_DELIVER"/>
    <uses-permission android:name="android.intent.action.SENDTO"/>
    <uses-permission android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

   
    <!-- android:largeHeap="true" -->
    <!-- tools:ignore="HardcodedDebugMode" -->
    <application
        android:name=".SysApplication"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name">
        <activity
            android:name=".xia_project.Taxi_HomeActivity"
            android:configChanges="mcc|mnc|keyboardHidden|keyboard|navigation|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SENDTO"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>

            </intent-filter>
        </activity>
    
        <receiver
            android:name=".Utils.SMS.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER"/>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Utils.SMS.MmsReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER"/>

                <data android:mimeType="application/vnd.wap.mms-message"/>
            </intent-filter>
        </receiver>

        <service android:name=".Utils.SMS.HeadlessSmsSendService"
                 android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE"
                 android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
    </application>

</manifest>